md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 70px !important;
    width: 80vw !important;
    max-width: 70px !important;
    background-color: #f2f2f2;
}

.sidenav-spacer {
    height: 30px;
    display: block;
}
