<button md-raised-button color="accent" (click)="onSideNavToggle()">
  <md-icon>
    <span class="{{sideNavigationService.getChosenToggleCommand()}}"></span>
  </md-icon>
</button>

<button md-raised-button color="primary" [mdMenuTriggerFor]="menuRequest">
  <span>Request</span>
</button>

<md-menu #menuRequest="mdMenu">
  <button md-menu-item (click)="menuWorldContentRequest()">
    <md-icon><span class="fa fa-globe"></span></md-icon>
    <span>WorldContentRequest</span>
  </button>

  <button md-menu-item (click)="menuGyroscopeCalibrationRequest()">
    <md-icon><span class="fa fa-compass"></span></md-icon>
    <span>Calibrate Gyroscope</span>
  </button>

  <button md-menu-item (click)="menuGyroscopeAutoIntervalCommand()">
    <md-icon><span class="fa fa-clock-o"></span></md-icon>
    <span>Auto Gyroscope</span>
  </button>

  <button md-menu-item (click)="menuDistanceAutoIntervalCommand()">
    <md-icon><span class="fa fa-clock-o"></span></md-icon>
    <span>Auto Distance</span>
  </button>

</md-menu>


<button md-raised-button color="primary" [mdMenuTriggerFor]="menuView">
  <span>View</span>
</button>

<md-menu #menuView="mdMenu">

  <button md-menu-item  (click)="cameraService.defaultPosition()">
    <md-icon><span class="fa fa-video-camera"></span></md-icon>
    <span>Reset Camera</span>
  </button>

  <button md-menu-item (click)="menuConfigureView()">
   <md-icon><span class="fa fa-sliders"></span></md-icon>
    <span>Configure View</span>
  </button>

</md-menu>