@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
}

.material-icons.mat-icon {
    @include md-icon-size(24px);
    transform: translate(0%,-30%);
}

button > .material-icons.mat-icon {
    @include md-icon-size(18px);
    transform: translate(0%,-90%);
}

