@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@mixin md-icon-size($size: 24px) {
    font-size: $size;
    height: $size;
    width: $size;
    transform: translate(0%,-10%);
  }
  
.material-icons.mat-icon {
    @include md-icon-size(30px);
}

